option_settings:
  aws:elasticbeanstalk:environment:proxy:nginx:
    ProxyServer: nginx
    GzipCompression: true
  aws:elasticbeanstalk:environment:proxy:
    ProxyServer: nginx
  aws:elasticbeanstalk:application:environment:
    FLASK_PORT: 5000
    NODE_PORT: 3000
  aws:elasticbeanstalk:environment:process:default:
    HealthCheckPath: /
  aws:elasticbeanstalk:container:docker:run:
    Ports:
      - ${FPORT}
      - ${NPORT}
