files:
  "/etc/nginx/conf.d/flask-app.conf":
    content: |
      upstream flask-app {
          server 127.0.0.1:5000;
      }

      server {
          listen 80;
          location /pred {
              proxy_pass http://flask-app;
              proxy_set_header Host $host;
              proxy_set_header X-Real-IP $remote_addr;
              proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
              proxy_set_header X-Forwarded-Proto $scheme;
              rewrite ^/pred/?(.*)$ /$1 break;
          }
      }

  "/etc/nginx/conf.d/nodejs-app.conf":
    content: |
      upstream nodejs-app {
          server 127.0.0.1:3000;
      }

      server {
          listen 80;
          location / {
              proxy_pass http://nodejs-app;
              proxy_set_header Host $host;
              proxy_set_header X-Real-IP $remote_addr;
              proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
              proxy_set_header X-Forwarded-Proto $scheme;
          }
      }

container_commands:
  01_restart_nginx:
    command: "service nginx restart"
